<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/e
        tc/config.xsd">

    <preference for="Magegain\Novaposhta\Api\CityRepositoryInterface"
                                    type="Magegain\Novaposhta\Model\CityRepository" />
    <preference for="Magegain\Novaposhta\Api\Data\CityInterface" 
                            type="Magegain\Novaposhta\Model\City" />
    <preference for="Magegain\Novaposhta\Api\Data\CitySearchResultsInterface"
                            type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magegain\Novaposhta\Api\WarehouseRepositoryInterface"
                            type="Magegain\Novaposhta\Model\WarehouseRepository" />
    <preference for="Magegain\Novaposhta\Api\Data\WarehouseInterface"
                            type="Magegain\Novaposhta\Model\Warehouse" />
    <preference for="Magegain\Novaposhta\Api\Data\WarehouseSearchResultsInterface"
                            type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="CityGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magegain\Novaposhta\Model\ResourceModel\City\Collection</argument>
          
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="city_listing_data_source" xsi:type="string">Magegain\Novaposhta\Model\ResourceModel\City\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="warehouseGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magegain\Novaposhta\Model\ResourceModel\Warehouse\Collection</argument>
          
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="warehouse_listing_data_source" xsi:type="string">Magegain\Novaposhta\Model\ResourceModel\Warehouse\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="inpost-address" type="Magegain\Novaposhta\Model\Quote\AddressPlugin" sortOrder="1" disabled="false"/>
    </type>

</config>